* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #f7f8fc;
  color: #171717;
}

/* NAVBAR */

.navbar {
  height: 70px;
  background: #ffffff;
  border-bottom: 1px solid #eeeeee;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 7%;
}

.logo {
  font-size: 21px;
  font-weight: 800;
}

.logo span {
  font-weight: 400;
}

.navbar a {
  text-decoration: none;
  color: #555555;
  font-size: 14px;
}


/* HERO */

.hero {
  text-align: center;

  padding: 80px 20px 55px;

  background: linear-gradient(
    180deg,
    #ffffff 0%,
    #f7f8fc 100%
  );
}

.badge {
  display: inline-block;

  padding: 8px 15px;

  border: 1px solid #e4e4e4;
  border-radius: 50px;

  background: #ffffff;

  font-size: 13px;
  color: #555555;
}

.hero h1 {
  font-size: clamp(38px, 8vw, 68px);

  line-height: 1.05;

  letter-spacing: -2px;

  margin-top: 22px;
}

.subtitle {
  max-width: 650px;

  margin: 18px auto 32px;

  font-size: 18px;

  line-height: 1.6;

  color: #666666;
}


/* DOWNLOAD BOX */

.download-box {
  max-width: 760px;

  margin: auto;

  background: #ffffff;

  padding: 22px;

  border-radius: 20px;

  border: 1px solid #e5e5e5;

  box-shadow:
    0 15px 40px rgba(0, 0, 0, 0.07);

  text-align: left;
}

.download-box label {
  display: block;

  font-size: 13px;

  font-weight: bold;

  margin-bottom: 9px;
}

.input
